@import url(knacss.css);

/* @author : Prénom NOM */
/* @date : 25/12/2016 */
/* @bugfix : erreur à régler */
/* @todo : à faire */
/* @note :  */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- couleurs
2- base styles
3- nav
3- header
4- main
5- aside
6- contact
7- footer
8- adaptive web design
*/

/* ----------------------------- */
/* ==couleurs */
/* ----------------------------- */


/* ----------------------------- */
/* ==base styles */
/* ----------------------------- */
/* importation style de base avec @import url(knacss.css); */


/* ----------------------------- */



/* ----------------------------- */
/* ==header */
/* ----------------------------- */


/* ----------------------------- */
/* ==main */
/* ----------------------------- */


/* ----------------------------- */
/* ==aside */
/* ----------------------------- */


/* ----------------------------- */
/* ==contact */
/* ----------------------------- */


/* ----------------------------- */
/* ==footer */
/* ----------------------------- */


/* ----------------------------- */
/* ==adaptive web design */
/* ----------------------------- */
body{
    background-color: #F8F9EB;
    font-family: 'Oswald', sans-serif;
}
hr {
    border: 2px solid #ffffff;
    width: 50px;
    margin-left: 10px;
}
.container{
    width: 850px;
    margin: auto;
}
.container_small {
    width: 600px;
    margin: auto;
}
.underline {
    text-decoration: underline;
}

/* debut header */
header {
    height: 400px;
    width: 100%;
    background: url(../img/index.png), url(../img/particles.png), url(../img/index_fond.png);
    background-repeat: no-repeat;
    background-position-x: center;
}
.logo {
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: center;
    background-position-y: 60px;
    height: 400px;
    width: 100%;
}
/* responsive */
@media screen and (min-width: 1920px) and (max-width:2560px ) {
    .logo {
        background-size: 8%;
    }
}
@media screen and (min-width:2560px) and (max-width:3440px){
    .logo {
        background-size: 6%;
    }
}
@media screen and (min-width:350px) and (max-width: 850px) {
    .logo{
        background-size: 30%;
    }
    .container{
        width: 100%;
    }
    .container_small{
        width: 100%;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* responsive */

/* fin header */

/* debut main */
main {
    margin-top: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.row > article {
    width: 208px;
    height: 208px;
    perspective: 800px;
}
.body_article {
    margin-top: 50px;
    padding-left: 10px;
}

.background_number_1 {
    background-color:  #76927F;
    height: 30px;
    width: 30px;
}
.background_number_2{
    background-color: #AA5D61;
    height: 30px;
    width: 30px;
}
.background_number_3{
    background-color: #2D6F8A;
    height: 30px;
    width: 30px;
}
.background_number_1, .background_number_2, .background_number_3 {
    transform: rotate(-20deg);
    position: absolute;
    margin: 10px 0 0 10px;
}
.number_article{
    color: #ffffff;
    transform: rotate(20deg);
    padding: 3px 0 0 9px;

}
.article_content_1{
    background-color:  #ADCEB8;
}

.article_content_2{
    background-color: #ECC7A1;
}

.article_content_3{
    background-color: #CAEADE;
}
.back {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    background-color: #b9b9b9;
    transform: rotateY(-180deg);
    width: 208px;
    height: 208px;
    text-align: center;
    padding: 0 5px 0 5px;
}
.back:hover {
    transform: rotateY(0);
}
.article_content_1, .article_content_2, .article_content_3{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 1s all;
}
.article_content_1:hover, .article_content_2:hover, .article_content_3:hover {
    transform: scale(1.05) rotateY(180deg);
}
.footer_article {
    padding-left: 10px;
    padding-top: 20px;
}
/* fin main */

/* debut bottom */
#bottom {
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 70px;
    background-color: #AA5D60;
    height: 300px;
    width: 100%;
}
.bottom_content img {
    float: right;
    height: auto;
    width: 28%
}
.bottom_content h1 {
    color: #ffffff;
    font-size: 35px;
}
.title_p {
    color: #ffffff;
    font-size: 20px;
}
.bottom_content hr {
    width: 100%;
    margin: 0;
    border: 0.5px solid #5a5a5a;
}
/* fin bottom */ 

/* debut footer */
#footer {
    text-align: center;
}
.footer_link a {
    color: #000000;
    text-decoration: none;
    transition: 0.5s all;
}
.footer_link a:hover {
    color: rgb(212, 116, 121);
    text-decoration: none;
}